@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.ant-breadcrumb {
    font-size: 12px !important;
    text-transform: capitalize !important;

    &-link,
    &-separator {
        color: #999 !important;
    }
}

.ant-input,
.ant-select {
    width: 100% !important;
    height: 40px !important;
    font-size: 13px !important;
}

.ant-select .ant-select-selection-placeholder {
    font-size: 13px !important;
}

.auth-layout input,
.auth-layout select {
    width: 100%;
    height: 50px;
    font-size: 14px !important;
    border: solid 2px #ddd !important;
    border-radius: 4px !important;
    padding: 0 14px;
}

.auth-layout textarea {
    width: 100%;
    font-size: 14px !important;
    border: solid 2px #ddd !important;
    border-radius: 4px !important;
    padding: 0 14px;
    padding-top: 5px !important;
}

a {
    @apply text-blue-300;
}

input,
button {
    @apply w-full h-[35px] bg-slate-900 border border-slate-600 rounded text-white text-xs focus:border-slate-600 px-3;
}

button {
    @apply bg-blue-800 hover:bg-blue-600;
}
